python-dotenv>=1.0.0
statsmodels
openai
fastapi>=0.110.0
slowapi==0.1.6
uvicorn==0.27.1
python-multipart>=0.0.22
numpy==1.26.4
pandas==2.2.0
google-cloud-storage==2.14.0
pydantic==2.6.1
plotly
scikit-learn
pyyaml
e2b-code-interpreter>=2.0.0
pycountry
pyarrow
fastparquet
faiss-cpu
sentence_transformers
rank_bm25
firebase-admin
starlette>=0.47.2
urllib3>=2.6.3
setuptools>=75.0.0